﻿<form class="form-horizontal"
      name="loginForm"
      novalidate>
    <fieldset>

        <div class="panel panel-primary text-center">
            <div class="panel-heading" style="font-size:x-large">
                Vegetable Auction Application
            </div>
            <!--Input field area-->
            <div class="paddigLeftRight paddigtop">

                <div class="form-group"
                     ng-class="{'has-error':loginForm.inputUserName.$dirty}">
                    <label class="col-md-2 col-md-offset-3 control-label" for="inputUserName">User name</label>
                    <div class="col-md-3">
                        <input class="form-control"
                               id="inputUserName"
                               name="inputUserName"
                               type="text"
                               ng-model="vm.username"
                               required>
                    </div>
                </div>

                <div class="form-group"
                     ng-class="{'has-error':loginForm.inputPassword.$dirty}">
                    <label class="col-md-2 col-md-offset-3 control-label" for="inputPassword">Password</label>

                    <div class="col-md-3">
                        <input class="form-control"
                               id="inputPassword"
                               name="inputPassword"
                               type="password"
                               ng-model="vm.password"
                               required>
                    </div>

                </div>

                <div class="form-group">
                    <div class="col-md-4 col-md-offset-4">
                        <span>
                            <button class="btn btn-primary"
                                    style="width:80px;margin-right:10px"
                                    ng-click="vm.login()"
                                    ng-disabled="loginForm.$invalid">
                                Log In
                            </button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </fieldset>
</form>