<form class="form-horizontal"
      name="orderForm"
      novalidate>
    <fieldset>
        <legend>Basic RFP Information</legend>
        <div class="form-group">
            <label class="col-md-2 control-label"
                   for="inputVegetableId">Vegetable</label>

            <div class="col-md-4">
                <select class="form-control" 
                        data-ng-model="vm.order.vegetableId"
                        data-ng-options="v.id as v.name for v in vm.vegetables"
                        required>
                </select>
            </div>
        </div>

        <div class="form-group"
             ng-class="{'has-error':orderForm.inputQuantity.$invalid &&
                                    orderForm.inputQuantity.$dirty}">
            <label class="col-md-2 control-label" for="inputQuantity">Quantity</label>

            <div class="col-md-4">
                <input class="form-control"
                       id="inputQuantity"
                       name="inputQuantity"
                       type="number"
                       placeholder="Quantity (required)"
                       ng-model="vm.order.quantity"
                       required>
            </div>
            <span class="help-block has-error"
                  ng-show="orderForm.inputQuantity.$invalid ">
                Quantity is required
            </span>
        </div>

        <div class="form-group"
             ng-class="{'has-error'::orderForm.inputUnitPrice.$invalid &&
                                    orderForm.inputUnitPrice.$dirty}">
            <label class="col-md-2 control-label" for="inputUnitPrice">Expected unit price per 1Kg</label>

            <div class="col-md-4">
                <input class="form-control"
                       id="inputUnitPrice"
                       name="inputUnitPrice"
                       type="number"
                       step="0.01"
                       min="0"
                       ng-model="vm.order.expectedUnitPrice"
                       required>
            </div>
            <!--<span class="help-block has-error"
                  ng-show="orderForm.inputQuantity.$invalid ">
                Quantity is required
            </span>-->
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label"
                   for="inputDueDate">Due date</label>

            <div class="col-md-4">
                <div class="input-group">
                    <input class="form-control"
                           id="inputDueDate"
                           type="text"
                           ng-model="vm.order.dueDate"
                           is-open ="vm.opened"
                           uib-datepicker-popup="MMM dd, yyyy" />
                    <span class="input-group-btn">
                        <button class="btn btn-default"
                                ng-click="vm.open($event)">
                            <i class="glyphicon glyphicon-calendar" />
                        </button>
                    </span>
                </div>
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-4 col-md-offset-2">
                <span>
                    <button class="btn btn-primary"
                            style="width:80px;margin-right:10px"
                            ng-click="vm.submit()"
                            ng-disabled="orderForm.$invalid">
                        Save
                    </button>
                </span>
                <span>
                    <button class="btn btn-default"
                            style="width:70px"
                            ng-click="vm.cancel(orderForm)">
                        Cancel
                    </button>
                </span>
            </div>
        </div>

        <div class="form-group"
             ng-show="vm.message">
            <div class="col-md-6">
                <pre style ="font: inherit">{{vm.message }}</pre>
            </div>
        </div>

    </fieldset>
</form>

