<div class="panel panel-primary"> 
    <!--Alias name with "as" syntax helps accessing view data using alias
        this simplifies working with $scope and accessing data in the page-->
    <div class="panel-heading"
         style="font-size:large">
        Request for proposals
      
    </div>


    <div class="panel-body">
        Filter by status  <select class="form-control" 
                style="width:200px;margin:2px"
                data-ng-model="vm.searchCriteria" 
                data-ng-options="f.name for f in vm.filterOptions"
                 ng-change='vm.searchOrders()'>
                <!--<option value="">All</option>-->
        </select>
        <table class="table">

            <thead>
                <tr>
                    <td>OrderId</td>
                    <td>Vegetable</td>
                    <td><button class="btn btn-primary"type="button"
                                ng-click="vm.toggleImage()">
                       <!--javascript expression inside 
                           double curly braces-->
                       {{vm.showImage ? "Hide":"Show"}} Image 
                        </button>
                    </td>
                    <td>Quantity (Kg)</td>
                    <td>Expected Unit Price per 1Kg</td>
                    <td>Due Date</td>
                    <td>Status</td>
                    <td></td>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="order in vm.orders"> <!--Model and methods accessed using alias-->
                    <td>{{ order.id | number}}</td>
                    <td>{{ order.vegetable}}</td>
                    <td><img ng-if="vm.showImage" ng-src="data:image/JPEG;base64,{{order.image}}"
                             title ="{{ order.vegetable}}" 
                             style="width:50px;margin:2px">
                    </td>
                    <td >{{ order.quantity }}</td>
                    <td >{{ order.expectedUnitPrice | currency:"Rs " }}</td>
                    <td>{{ order.dueDate | date }}</td>
                    <td>{{ order.status }}</td>
                    <td><button class="btn btn-primary"
                                    style="width:50px;margin-right:2px"
                                    ng-click="vm.editOrder(order.id)">
                                Edit
                            </button>       
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>